# Cron Configuration
CRON_TIMER=0 0,12 * * *

# API Configuration  
BASE_URL=https://trackww-backend-production.up.railway.app

# Processing Configuration
BATCH_SIZE=500
CONCURRENCY=10

# Email Service Configuration (Bravo)
BRAVO_USERNAME=admin@aqza.com
BRAVO_PASSWORD=J5Hk2Ht3!bg9Y52

# Backend Server Configuration
BACKEND_SERVER=https://trackww-backend-production.up.railway.app
